# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
dist/
build/
.embeddings_cache.pkl
*.log
*.tmp

# IDE / Editor
.idea/
.vs/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Data / Outputs
C:\Foto\*
!C:\Foto/.gitkeep
